Repository HYF-Class19/agile-development-loruki-group-3, pull requests merged in 2022-08, with the labels that each got.

#2 Add project structure folders and files
  pages/docs.html
  pages/features.html
  pages/images/cli.png
  pages/images/clojure.png
  pages/images/cloud.png
  pages/images/csharp.png
  pages/images/node.png
  pages/images/php.png
  pages/images/python.png
  pages/images/ruby.png
  pages/images/scala.png
  pages/index.html
  pages/styles/README.md
  pages/styles/something.css
  pages/styles/style.css
  planning/communication.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
Labels: planning

#4 created planning files
  .markdownlint.jsonc
  planning/backlog.md
  planning/communication.md
  planning/constraints.md
  planning/development-strategy.md
  planning/user-personas.md
Labels: planning

#7 complete development-strategy.md
  planning/development-strategy.md
Labels: planning

#8 i add photos of our design
  planning/development-strategy.md
  planning/doc.png
  planning/features.png
  planning/home-page.png
Labels: planning

#14 add design.md file
  planning/design.md
Labels: planning

#32 0.1 general tags and style
  pages/index.html
  pages/styles/style.css
Labels: html, css

#33 1. add page title
  pages/index.html
  pages/styles/style.css
Labels: html, css

#36 updatin index.html and styles.css
  pages/index.html
  pages/styles/style.css
Labels: HTML & CSS

#37 added pages/index.html and pages/styles/style.css
  pages/index.html
  pages/styles/style.css
Labels: html, css

#34 added logos
  index.html
  planning/home-page.jpeg
Labels: html

#39 modified style.css
  pages/styles/style.css
Labels: css

#40 add introduction style
  pages/index.html
  pages/styles/style.css
Labels: css

#41 added info about the website under the showcase in index.html
  pages/index.html
  pages/styles/style.css
Labels: HTML & CSS

#43 Retrospective
  planning/retrospective.md
  styles/index.css
Labels: retrospective

#44 fixing same index issues, navbar and footer sections updated
  images/cli.png
  images/clojure.png
  images/cloud.png
  images/csharp.png
  images/docs.png
  images/node.png
  images/php.png
  images/python.png
  images/ruby.png
  images/scala.png
  images/server.png
  images/server2.png
  index.html
  pages/another-page.html
  pages/docs.html
  pages/features.html
  pages/index.html
  pages/styles/README.md
  pages/styles/something.css
  styles/index.css
  styles/style.css
Labels: html, css
